# COOUCodeGuard Environment Configuration
APP_NAME=COOUCodeGuard
APP_ENV=production
DEBUG=false
SECRET_KEY=coou-secret-key-offline-guard-production-2026
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=sqlite:///./database/cooucode_guard.db
STORAGE_PATH=./storage
HOST=127.0.0.1
PORT=8000
INSTITUTION_NAME=Chukwuemeka Odumegwu Ojukwu University
INSTITUTION_CAMPUS=Uli Campus, Anambra State, Nigeria
INSTITUTION_DEPT=Department of Computer Science
